<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="display-articles">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="display-articles">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" routerLink="saved-articles">saved Articles</a>
      <a class="nav-item nav-link" (click)="scrapeArticles()">SCAPE NEW ARTICLES</a>
    </div>
  </div>
</nav>

<div class="main">
  <h1>Mongo Scraper</h1>
  <h3>The Verge</h3>
</div>

<!--router views-->
<router-outlet></router-outlet>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>You have added {{articlesAdded}} articles</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
