.no-article {
  text-align: center;
  background-color: rgb(221, 19, 36);
  padding: 2%;
}

button {
  float: right;
  margin-right: 5px;
}

.article-notes {
  outline: black;
  margin: 5px;
  padding: 5px;
}

#new-article-note {
  width: 100%;
}
